:root {
    --kbg: #FFF1E6;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--kbg);
}

.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.navbar .logo a {
    z-index: 5;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.navbar .menu {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0px 15px;
}

.navbar .menu li a {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.navbar .menu li a:hover {
    color: rgba(26, 27, 31, 0.75);
}

.navbar .menu .navlink{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar .menu .button {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}

.navbar .menu .button:hover {
    color: white;
    background-color: #32343a;
}

.navbar .menu .button:active {
    color: white;
    background-color: #43464d;
}

.button {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
    text-decoration: none;
}

.button:hover {
    color: white;
    background-color: #32343a;
}

.button:active {
    color: white;
    background-color: #43464d;
}

.main {
    mix-blend-mode: normal;
    background-color: var(--kbg);
    border-style: none;
    border-color: black;
    padding: 80px 30px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.main .wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.main .split {
    max-width: 46%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.margin-bottom {
    margin-bottom: 24px;
}

.footer {
    background-color: var(--kbg);
    border-bottom: 1px solid #e4ebf3;
    padding: 50px 30px 15px;
    position: relative;
}

.footer .wrapper {
    max-width: 900px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.footer .content {
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.footer .block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.footer .title-small {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
}

.footer .link {
    color: #1a1b1f;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.footer .link:hover {
    color: rgba(26, 27, 31, 0.75);
}

.footer .social {
    justify-content: flex-start;
    align-items: center;
    margin-top: -2px;
    margin-left: -12px;
    display: flex;
}

.social .link {
    margin-left: 12px;
}

.footer .divider {
    width: 100%;
    height: 1px;
    background-color: #1a1b1f;
    margin-top: 70px;
    margin-bottom: 15px;
}

.footer .copyright {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}