:root {
    --kbg: #FFF1E6;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--kbg);
}

.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.navbar .logo a {
    z-index: 5;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.navbar .menu {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0px 15px;
}

.navbar .menu li a {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.navbar .menu li a:hover {
    color: rgba(26, 27, 31, 0.75);
}

.navbar .menu .navlink{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar .menu .button {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}

.navbar .menu .button:hover {
    color: white;
    background-color: #32343a;
}

.navbar .menu .button:active {
    color: white;
    background-color: #43464d;
}

.button {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
    text-decoration: none;
}

.button:hover {
    color: white;
    background-color: #32343a;
}

.button:active {
    color: white;
    background-color: #43464d;
}

.outline {
    color: #1a1b1f;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #1a1b1f;
}

.outline:hover {
    color: white;
    background-color: #1a1b1f;
}

.main {
    mix-blend-mode: normal;
    background-color: var(--kbg);
    border-style: none;
    border-color: black;
    padding: 80px 30px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.main .wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.main .split {
    max-width: 46%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.margin-bottom {
    margin-bottom: 24px;
}

.footer {
    background-color: var(--kbg);
    padding: 50px 30px 15px;
    position: relative;
}

.footer .wrapper {
    max-width: 900px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.footer .content {
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.footer .title-small {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
}

.footer .link {
    color: #1a1b1f;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.footer .link:hover {
    color: rgba(26, 27, 31, 0.75);
}

.footer .social {
    justify-content: flex-start;
    align-items: center;
    margin-top: -2px;
    margin-left: -12px;
    display: flex;
}

.social .link {
    margin-left: 12px;
}

.footer .divider {
    width: 100%;
    height: 1px;
    background-color: #1a1b1f;
    margin-top: 70px;
    margin-bottom: 15px;
}

.footer .copyright {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.gallery {
    padding: 80px 30px;
    position: relative;
}

.gallery .wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
}

.gallery .grid {
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.gallery .picture {
    width: 100%;
}

.services {
    padding: 80px 30px;
    position: relative;
}

.services .wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
}

.services .card {
    background-color: var(--kbg);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 24px;
    display: flex;
    position: relative;
    box-shadow: 0 4px 130px rgba(150, 163, 181, 0.12);
}

.services .featured {
    z-index: 2;
    box-shadow: 0 4px 130px rgba(150, 163, 181, 0.5);
}

.services .picture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 16px;
}

.services .title {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.services .subtitle {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
}

.services .price {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.services .notes {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.services .divider {
    height: 1px;
    background-color: #00000000;
    align-self: stretch;
    margin: 56px -24px 16px;
}

.services .list {
    align-self: stretch;
    list-style-type: none;
}

.services .feature {
    background-image: url("images/check.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    align-self: stretch;
    margin-top: 16px;
    padding-left: 32px;
    font-size: 14px;
    line-height: 24px;
}

.services .tag {
    color: #3a4554;
    background-color: var(--kbg);
    border-radius: 24px;
    padding: 7px 16px;
    position: absolute;
    top: -19px;
    box-shadow: 0 3px 10px rgba(150, 163, 181, 0.2);
}

.main .form {
    margin-bottom: 12px;
}

.form .container {
    justify-content: flex-start;
    align-items:stretch;
    display: flex;
}

.form .input {
    width: 240px;
    height: auto;
    color: #1a1b1f;
    border: 1px solid var(--kbg);
    margin-bottom: 0px;
    margin-right: 9px;
    padding: 5px 16px;
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    transition: all .2s;
}

.form .input:hover .form .input:focus {
    border-color: #76879d;
}

.form .input::placeholder {
    color: rgba(26, 27, 31, 0.8);
}